html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		meta(name="description" content="")
		meta(name="author" content="") 
		link(rel="icon",href="favicon.ico")
		title Navbar Template for Bootstrap 
		<!-- Bootstrap core CSS -->
		link(href="bootstrap-3.3.7/dist/css/bootstrap.min.css",rel="stylesheet")
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		link(href="bootstrap-3.3.7/dist/css/ie10-viewport-bug-workaround.css",rel="stylesheet")
		<!-- Custom styles for this template -->
		link(href="bootstrap-3.3.7/dist/css/navbar.css", rel="stylesheet")
		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="bootstrap-3.3.7/dist/js/ie8-responsive-file-warning.js"></script><![endif]-->
		script(src="bootstrap-3.3.7/dist/js/ie-emulation-modes-warning.js")
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="bootstrap-3.3.7/dist/js/html5shiv.min.js"></script>
		<script src="bootstrap-3.3.7/dist/js/respond.min.js"></script>
		<![endif]-->
	body
		div.container
			img.pull-right.img-responsive(src="images/logo.gif")
		div.container
			nav.navbar.navbar-default
				div.container-fluid
					div.navbar-header
						button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
							span.sr-only Toggle navigation 
							span.icon-bar
							span.icon-bar
							span.icon-bar

					div#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a#linkmenu.agence.text-center(href="#") 
									i.glyphicon.glyphicon-home.colores  
										p Agence
							li
								a#linkmenu.text-center(href="#") 
									i.glyphicon.glyphicon-check.colores  
										p Projetos 
							li
								a#linkmenu.text-center(href="#") 
									i.glyphicon.glyphicon-check.colores  
										p Administrativo
							li
								a#linkmenu.text-center(href="#") 
									i.glyphicon.glyphicon-check.colores  
										p Comercial
							li
								a#linkmenu.text-center(href="#") 
									i.glyphicon.glyphicon-check.colores  
										p Financeiro
							li
								a#linkmenu.text-center(href="#") 
									i.glyphicon.glyphicon-check.colores  
										p Usuário  
							li
								a#linkmenu.text-center(href="#") 
									i.glyphicon.glyphicon-check.colores  
										p Sair
			<!-- main -->
			form(action="",method="post",id="formulario")										
			div.container.form-group.row
				div.col-md-12
					&nbsp;
				div.btn-group
					button#por_consultor.btn.btn-default(type="button") Por Consultor
					button#por_cliente.btn.btn-default(type="button") Por Cliente
				div.col-md-12
					&nbsp;
				div.text-center.col-md-5
					select.form-control(name="origen[]" id="origen" multiple="multiple" size="8")
						option(value="1") Opci&oacute;n 1
						option(value="2") Opci&oacute;n 2
						option(value="3") Opci&oacute;n 3 
						option(value="4") Opci&oacute;n 4 
						option(value="1") Opci&oacute;n 5 
				div.text-center.col-md-2
					input.pasar.izq.form-control(type="button",value="Pasar >>")
					input.quitar.der.form-control(type="button",value="<< Quitar")
					br
					input.pasartodos.izq.form-control(type="button",value="Todos >>>")
					input.quitartodos.der.form-control(type="button",value="<<< Todos")
				div.text-center.col-md-5
					select.form-control(name="destino[]",id="destino",multiple="multiple",size="8")
					p.clear
						input.submit(type="submit",value="Procesar formulario")









script(src="bootstrap-3.3.7/dist/js/jquery.min.js")
script(src="bootstrap-3.3.7/dist/js/bootstrap.min.js")
script(src="bootstrap-3.3.7/dist/js/ie10-viewport-bug-workaround.js")
script(src="javascripts/con_desempenho.js")